<!DOCTYPE html>
    <html lang="en">
        <head>
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </head>
        <body>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Music Choice
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for music in MusicList %}
                  <li><a class="dropdown-item" href="/dancecheck/{{ music.image_id }}">{{music.music_name}}</a></li>   <!--아직 어디로 갈지 주소는 안정해줌 href="#"-->
                  {% endfor %}
                </ul>
              </div>
        </body>
    </html>